MONGODB_URI=
PORT=3000
SPOONACULAR_APIKEY=
NUTRITIONIX_APP_ID=
NUTRITIONIX_APP_KEY=
FATSECRET_CONSUMER_KEY=
FATSECRET_CONSUMER_SECRET=
JWT_SECRET=your_super_secret_jwt_key_change_in_production

# User forgot Password
EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASS=
GMAIL_KEY=are the same to EMAIL_PASS
EMAIL_FROM=
